<div class="mypage_area">
    <h2>マイページ</h2>
    <ul type="none" >
        <li><%= link_to '出品する', products_new_path %></li>
        <li><%= link_to '出品中の商品', products_path %></li>
        <li><%= link_to 'お気に入りの商品', likes_path %></li>
        <li><%= link_to 'プロフィール変更', profiles_edit_path %></li>
        <li><%= link_to 'サインアウト', sign_out_path %></li>
    </ul>
</div>