<div class="container">
    <div class="content">
        <!-- お気に入り一覧エリア -->
        <div class="main list">
        <% if @products.any? %>
            <ul type="none" >
            <% @products.each do |product| %>
                <li>
                    <%= link_to markets_show_path(product.id) do %>
                    <div class="image">
                        <%= image_tag image1_url(product) %>
                        <% if product_sold?(product) %>
                        <div class="sold_icon">SOLD</div>
                        <% end %>
                    </div>
                    <% end %>
                    <p class="name"><%= product.name %></P>
                    <div class="price"><%= number_to_currency(product.price, unit: "¥", format: "%u%n", strip_insignificant_zeros: true) %>
                        <%= link_to markets_like_path(product.id) do %> 
                        <div class="like<%= product.like_from?(current_user)? "": " no" %>">★</div>
                        <% end %>
                    </div>
                </li>
            <% end %>
            </ul>
            <div class="paginate"><%= paginate @products %></div>
        <% else %>
            お気に入りの商品はありません。
        <% end %>
        </div>
        <!-- マイページエリア -->
        <%= render partial: 'users/mypage' %>
    </div>
</div>